@use "../../../../stylings/layout" as *;

.workshop-main-content-highlights-container {
  display: grid;
  width: 100%;
  grid-template-columns: $default-grid-template-columns;
  margin-top: 1rem;
  gap: 1rem;
}
