@use "../../stylings/layout" as *;

.document-container {
  height: $screen-height;
  overflow-y: auto;
  color: black;
  padding: 0 1rem;

  & > * {
    flex-shrink: 0; // prevent children from being compressed
    width: 100%;    // optional: make children fill horizontal space
  }

  .document-content-container {
    max-width: 900px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}