@use "../../../stylings/layout" as *;
@use "../../../stylings/color" as *;

.gospel-drawer-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: min(400px, 100vw);
  height: $screen-height;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--secondary-main);

  &.mobile {
    width: 100vw;
    position: absolute;
    left: 0;
    z-index: 10;
    transition: transform 0.2s linear;
    transform: translateX(0);

    &.hidden {
      transform: translateX(-100vw);
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    gap: 0.5rem;

    .title.MuiTypography-root {
      font-family: saira stencil one;

      background: $info-gradient-right;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }

    .input-form-control.MuiFormControl-root {
      width: 90%;
    }

    .outlined-input.MuiInputBase-root {
      border-radius: 10rem;
      overflow: hidden;
      background-color: white;

      fieldset {
        border-color: transparent;
      }
    }

    .start-adornment-box {
      margin-left: -0.5rem;
      margin-right: 0.5rem;

      .MuiChip-root {
        font-size: 1rem;
      }
    }

    .search-button {
      margin-right: -0.5rem;

      &:hover .MuiSvgIcon-root {
        fill: black;
      }
    }

    .chip-box {
      display: flex;
      gap: 0.5rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .MuiTypography-root {
      white-space: wrap;
    }

    .caption {
      padding-left: 1rem;
      width: fit-content;

      &.MuiTypography-root {
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: bold;
        background: $info-gradient-right;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
      }
    }

    .MuiMenuItem-root {
      .MuiSvgIcon-root {
        margin: 0 0.5rem 0 auto;
        fill: var(--utility-800);
        transition: none;
      }

      &.category-menu-item {
        margin: 0 1rem;
        border-radius: 0.5rem;

        :not(.default).MuiTypography-root {
          font-size: 1.2rem;
          font-family: sora;
        }
      }

      &.topic-menu-item {
        margin: 0 1rem;
        margin-left: 2rem;
        border-radius: 0.5rem;

        .MuiTypography-root {
          font-size: 1rem;
          font-family: sora;
        }
      }

      &:hover {
        background: var(--utility-200);
      }

      &.hovered {
        background: $info-gradient-right;
        .MuiTypography-root {
          color: white;
        }
        .MuiSvgIcon-root {
          fill: white;
        }
      }
    }
  }

  .chip.MuiChip-root {
    &.onClick {
      cursor: pointer;
      &:hover {
        color: white;
      }
    }

    &:not(.custom) {
      &:hover {
        background-color: var(--utility-500);
      }
    }
  }

  .close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
