.sub-app-bar {
    &.MuiPaper-root {
        background-color: transparent;
    }

    .MuiContainer-root {
        background: #111;
    }

    .MuiBreadcrumbs-li {
        margin: 0 20px;
    }

    .MuiBreadcrumbs-separator {
        color: white;
    }
}