@use "../../../stylings/color" as *;

.description-text-field-box {
  border: 1px solid $divider;
  border-radius: 1rem;
  overflow: hidden;

  .view-box {
    flex: 1;
    background-color: whitesmoke;
    border-bottom: 1px solid $divider;
  }

  .view-button.MuiButton-root {
    border-color: transparent;
    border-radius: 1rem 1rem 0 0;

    &.focus {
      border-width: 1px 1px 0 1px;
      border-style: solid;
      border-color: $divider;
      background-color: white;
      z-index: 5;
      scale: 1.06;
    }
  }

  .preview-box {
    margin: 1rem;
  }

  .text-field-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
  }

  .text-field-tool-bar {
    display: flex;
    align-items: center;

    .MuiIconButton-root {
      border-radius: 0.2rem;

      svg {
        width: 1.2rem;
        height: 1.2rem;
      }

      &.enabled,
      &:hover {
        background-color: var(--primary-100);
        color: var(--primary-main);
      }
    }
  }

  .view-input-text-field.MuiTextField-root {
    display: relative;
    background-color: whitesmoke;
    overflow-x: hidden;
    overflow-y: auto;
    & .MuiOutlinedInput-root textarea {
      resize: vertical;
    }
  }

  .view-preview-text-field.MuiTextField-root,
  .view-input-text-field.MuiTextField-root {
    display: flex;

    .MuiOutlinedInput-root {
      font-size: 0.9rem;

      textarea {
        min-height: 100px;
      }
    }

    .MuiOutlinedInput-input {
      overflow-y: auto !important;
    }
  }

  .end-adornment {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    pointer-events: none;
  }
}
