@use "../../../stylings/layout" as *;
@use "../../../stylings/box_shadows" as *;
@use "../../../stylings/color" as *;

.trip-profile-box {
  display: flex;
  color: black;
  height: $screen-height;
}

.trip-profile-map-box {
  position: relative;
  flex: 1;
  height: 100%;
}

$trip-profile-content-width: 480px;
$trip-profile-content-width-mobile: 280px;

.trip-profile-content-box {
  width: $trip-profile-content-width;
  max-height: calc($screen-height - 2rem); // reduce the margin and padding
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  border-radius: 1rem;
  z-index: 1100;
  box-shadow: $mild_box_shadow_lg;
  overflow-x: visible;
  overflow-y: auto;

  &.mobile {
    width: 80vw;
    max-width: $trip-profile-content-width-mobile;
  }
}

.trip-profile-header-box {
  box-shadow: $mild_box_shadow;
  z-index: 100;
}

.trip-profile-title-box {
  padding: 0.5rem 1rem;
  padding-bottom: 0;
}

.trip-profile-section-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -0.5rem;
  padding: 0;
}

.trip-profile-day-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.trip-profile-description-box {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.trip-profile-image-box {
  height: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &.visible {
    height: auto;
  }
}

.trip-profile-image-chip-button.MuiChip-root {
  color: lightgrey;
  background-color: black;
  box-shadow: $box_shadow_light;

  .MuiChip-icon {
    color: inherit;
  }

  &:hover {
    color: whitesmoke;
    background-color: black;
  }
}

.trip-profile-title-button.MuiButton-root {
  color: black;
  background-color: transparent;
  border-radius: 0.5rem;
  text-align: left;
  margin-left: -0.5rem;

  &:hover {
    background-color: lightgrey;
  }
}

.trip-profile-title-button.MuiButton-root {
  padding: 0.85rem 0.5rem;
}

.trip-profile-title.MuiTypography-root {
  text-transform: none;
  margin: -0.5rem 0;
  word-break: break-all; // allow long words to break
  overflow-wrap: break-word; // ensure breaking works across browsers
  hyphens: auto; // auto-insert hyphens if language supports
}

.trip-profile-title.MuiTypography-root {
  font-size: 1.2rem;
}

.trip-profile-text.MuiTypography-root {
  white-space: pre-wrap;
  font-size: 0.9rem;
}

$trip-profile-tool-button-group-gap: 40px;
$trip-profile-tool-button-group-gap-mobile: 30px;

.trip-profile-tool-fab-group {
  position: absolute;
  top: 150px;
  left: $trip-profile-content-width + $trip-profile-tool-button-group-gap;

  &.mobile {
    left: $trip-profile-content-width-mobile +
      $trip-profile-tool-button-group-gap-mobile;
  }
}

.trip-profile-tool-fab.MuiFab-root {
  display: none;
  color: white;
  background-color: black;

  &:hover {
    background-color: var(--grey-800);
  }

  &.visible {
    display: flex;
  }
}
