@use "../../../stylings/layout" as *;
@use "../../../stylings/box_shadows" as *;
@use "../../../stylings/color" as *;

.trip-profile-box {
  display: flex;
  flex-direction: row;
  position: relative;
  color: black;
  height: $screen-height;
  overflow: hidden;

  .map-box {
    position: relative;
    flex: 1;
    height: 100%;
  }

  $content-width: 480px;
  $content-width-mobile: 280px;

  .content-box {
    width: $content-width;
    height: calc($screen-height); // reduce the margin and padding
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    color: black;
    z-index: 1100;
    box-shadow: $box_shadow_lg;
    overflow-x: hidden;
    overflow-y: auto;

    &.mobile {
      width: 80vw;
      max-width: $content-width-mobile;
    }

    &.hidden {
      display: none;
    }
  }

  .header-box {
    box-shadow: $mild_box_shadow;
    z-index: 100;
  }

  .title-box {
    padding: 0.5rem 1rem;
    padding-bottom: 0;
  }

  .section-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -0.5rem;
    padding: 0;
  }

  .day-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .description-box {
    flex: 1;
    padding: 1rem;
    padding-bottom: 2rem;
    overflow-y: auto;
  }

  .image-box {
    height: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    &.visible {
      height: auto;
    }
  }

  .default-image-box {
    background-color: var(--primary-main);
    display: flex;
    justify-content: center;
  }

  .tao-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1200;
    background-color: white;
    transform: translateX(100%);
    transition: 0.2s ease transform;

    &.display {
      transform: translateX(0);
    }
  }

  .createdBy-box {
    position: absolute;
    left: 10px;
    bottom: 10px;

    .MuiAvatar-root {
      box-shadow: $heavy-box-shadow;
    }

    .username-chip.MuiChip-root {
      border-radius: 0.5rem;
      background-color: $light-black-sx-transparent;
      box-shadow: $mild-box-shadow;
      margin-top: 0.5rem;
      color: white;
      cursor: pointer;
    }

    .username.MuiTypography-root {
      font-size: .8rem;
      cursor: pointer;

      &:hover {
        color: var(--primary-main);
      }
    }
  }

  .image-selector-box {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .title-button.MuiButton-root {
    color: black;
    background-color: transparent;
    border-radius: 0.5rem;
    text-align: left;
    margin-left: -0.5rem;

    &:hover {
      background-color: lightgrey;
    }
  }

  .title-button.MuiButton-root {
    padding: 0.85rem 0.5rem;
  }

  .title.MuiTypography-root {
    text-transform: none;
    margin: -0.5rem 0;
    word-break: break-all; // allow long words to break
    overflow-wrap: break-word; // ensure breaking works across browsers
    hyphens: auto; // auto-insert hyphens if language supports
  }

  .title.MuiTypography-root {
    font-size: 1.2rem;
  }

  .text-readonly.MuiTypography-root,
  .text.MuiTypography-root {
    white-space: pre-wrap;
    font-size: 0.9rem;
  }

  .text-readonly.MuiTypography-root {
    padding: 0.3rem 0.27rem;
  }

  .ui-box {
    position: relative;
  }

  .open-button-box {
    position: absolute;
    top: 40vh;
    right: -30px;
  }

  $tool-button-group-gap: -90px;
  $tool-button-group-gap-mobile: -60px;

  .tool-fab-group {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 20px;
    // top: 130px;
    right: $tool-button-group-gap;

    &.mobile {
      right: $tool-button-group-gap-mobile;
    }

    &.hidden {
      display: none;
    }
  }
}
