@use "../../../../stylings/box_shadows" as *;
@use "../../../../stylings/layout" as *;

.workshop-trips-box {
  
  .progress-bar-box {
    margin-top: 1rem;
  }

  .trips-container {
    display: grid;
    width: 100%;
    grid-template-columns: $default-grid-template-columns;
    // justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
}
