.add-day-form-box {
  padding: 1rem;
}

.add-day-form-header.MuiTypography-root {
  font-size: 1.4rem;
  color: var(--primary-main);
  display: flex;
  align-items: center;
  gap: .5rem;
}

.add-day-form-header-icon {
  width: 1.4rem;
  height: 1.4rem;
  color: var(--primary-main);
}

.add-day-form-description.MuiTypography-root {
  margin-bottom: .5rem;
}

.add-day-form-button-box {
  display: flex;
  justify-content: right;
  margin-top: 1rem;
  gap: .5rem;
}
