.trip-profile-fab-comp-tool-fab.MuiFab-root {
  display: none;

  &.delete {
    color: white;
    background-color: black;

    &:hover {
      background-color: var(--utility-800);
    }
  }

  &.visible {
    display: flex;
  }
}
