.list-tool-container {
  display: flex;
  flex-direction: row;
  color: dimgrey;
  gap: .5rem;
}

.list-tool-sort-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.list-tool-sort-select.MuiSelect-root {
  height: 24px;
  font-size: .8rem;
  border-radius: 1rem;
  color: dimgrey;

  &:hover .MuiOutlinedInput-notchedOutline,
  &.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--primary-700);
  }
}

.list-tool-sort-select-item.MuiMenuItem-root {
  font-size: .8rem;
}

.list-tool-button-container {
  display: flex;
  gap: .2rem;

  .MuiIconButton-root {
    border-radius: .2rem;

    &:hover {
      background-color: var(--primary-100);

      .MuiSvgIcon-root {
        fill: var(--primary-700);
      }
    }
  }
}
