@use "../../../stylings/box_shadows" as *;
@use "../../../stylings/layout" as *;

.preload-carousel-box {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.preload-carousel-image-overflow-container {
  overflow: hidden;
  aspect-ratio: $default-aspect-ratio;


  &.trip-profile {
    aspect-ratio: $trip-profile-aspect-ratio;
  }

  &.circular-border {
    border-radius: 1rem;
  }
}

.preload-carousel-image-box {
  display: flex;
  height: 100%;
  transition: none;

  &.animate {
    transition: transform 0.5s ease;
  }
}

.preload-carousel-image {
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.preload-carousel-scroll-left-button-box {
  left: -5px;
  &.inner {
    left: 5px;
  }
}

.preload-carousel-scroll-right-button-box {
  right: -5px;
  &.inner {
    right: 5px;
  }
}

.preload-carousel-scroll-left-button-box,
.preload-carousel-scroll-right-button-box {
  position: absolute;
  top: 40%;
  margin: auto 0;
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.2s;
}

.preload-carousel-scroll-button.MuiIconButton-root {
  color: var(--utility-200);
  background-color: var(--utility-900);
  box-shadow: $mild_box_shadow_lg;
  border: none;

  &:hover {
    color: white;
    background-color: var(--utility-800);
  }
}

.preload-carousel-delete-button-box {
  position: absolute;
  right: 5px;
  top: 5px;
}
