.trip-profile-section-comp-nav-tab-box {
  width: auto;
  overflow-x: auto;
}

.trip-profile-section-comp-divider.MuiDivider-root {
  margin-top: 1rem;
  margin-left: auto;
}

.trip-profile-section-comp-add-day-button.MuiIconButton-root {
  border: none;
  margin: 0 .5rem;
  margin-top: .5rem;
}
