@use "../../../stylings/layout" as *;

.guide-container {
  position: relative;
  color: black;
  overflow-y: auto;
  background-color: white;

  .container-box {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .markdown-container {
    max-width: 900px;
  }

  .iframe-container {
    display: flex;
    justify-content: center;
  }

  .center-container {
    display: flex;
    justify-content: center;
  }
}