@use "../../../stylings/box_shadows" as *;

.form-base-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.panel {
      padding: 0.5rem 1rem;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 1rem;

      .MuiSvgIcon-root {
        width: 1.8rem;
        height: 1.8rem;
      }
    }

    .subtitle.MuiTypography-root {
      color: var(--grey-600);
    }
    .divider.MuiDivider-root {
      margin-top: 0.5rem;
    }
  }

  .content {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
  }

  .footer {
    margin-top: auto;
    &.content-overflow {
      z-index: 10;
      box-shadow: $mild_box_shadow_up;
    }

    .buttons {
      width: max-content;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-left: auto;
      padding: 0.5rem;
    }
  }
}
