@use "../../../stylings/box_shadows" as *;
@use "../../../stylings/color" as *;

.day-event-container-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .event-box {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0.4rem;
    border-radius: 0.2rem;

    .time-box {    
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .arrow-box {
      position: absolute;
      right: 1rem;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      opacity: 0;
    }

    &:hover {
      background-color: whitesmoke;

      .arrow-box {
        opacity: 1;
      }
    }
  }

  .event-category.MuiChip-root {
    color: white;
    background: $info-gradient-right;
  }
}
