.description-text-field-view-preview {
  
  white-space: pre-wrap;       /* preserve user line breaks */
  word-wrap: break-word;       /* break long words if needed */
  overflow-wrap: anywhere;     /* modern alternative for breaking long strings */
  display: flex;
  flex-direction: column;
  gap: .5rem;

  &.disableGap {
    margin: 0;
  }

  /* Markdown font-size */
  
  p {
    font-size: 1rem;
  }

  /* Markdown styles */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: .5rem 0;
  }
  ul,
  ol {
    margin: 0;
    margin-left: .5rem;
  }
  li {
    margin-bottom: -1.8rem;
    
    &:has(p + *), &:has(p > a) {
      p:first-of-type {
        margin-top: -1.5rem;
        margin-bottom: -1rem;
      }
    }
  }
  code {
    background: var(--utility-200);
    padding: 0.2rem 0.4rem;
    border-radius: .2rem;
    font-family: monospace;
  }
  blockquote {
    position: relative;
    display: inline-flex;
    margin: 0rem 1rem;
    padding: 0 1rem;
    background-color: var(--info-50);
    font-size: .9rem;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: .5rem;
      height: 100%;
      background-color: var(--info-300);
    }
  }
  img {
    max-width: min(100%, 400px);
    height: auto;
    display: block;
    margin: 0;
  }

  span {
    &.primary {
      color: var(--primary-main);
    }

    &.info {
      color: var(--info-main);
    }

    &.success {
      color: var(--success-main);
    }

    &.warning {
      color: var(--warning-main);
    }

    &.error {
      color: var(--error-main);
    }

    &.region {
      color: var(--region-main);
    }

    &.utility {
      color: var(--utility-main);
    }
  }
}