.trip-profile-day-comp-header-box {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: 0rem;
  padding: .5rem 1rem 0 1rem;

  &.mobile {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}

.trip-profile-day-comp-view-tab-box {
  display: flex;
  margin: .2rem auto;
}

.trip-profile-day-comp-content-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.trip-profile-day-comp-schedule-box {
  max-width: 400px;
  width: 80vw;
  margin: 1rem 2rem;

  &.mobile {
    margin-left: .5rem;
    max-width: 260px;
  }

  &.day-schedule {
    max-width: 360px;
    margin-left: auto;

    &.mobile {
      max-width: 200px;
    }
  }
}
