.direction-accordion.MuiAccordion-root {
  box-shadow: none;

  &.Mui-expanded {
    margin: 0;

    &::before {
      opacity: 1;
    }
  }

  .summary .MuiAccordionSummary-content {
    &.Mui-expanded {
      margin: 12px 0;
    }
  }

  .summary-box {
    display: flex;
    flex-direction: column;
  }

  .summary-inner-box {
    display: flex;
    gap: 0.5rem;
  }

  .summary-transport-mode {
    text-transform: capitalize;
  }
}

.simple-container {
  display: flex;
  gap: 0.5rem;
}
