.tt-button-group-toggle-button-group.MuiToggleButtonGroup-root {
  background-color: whitesmoke;
  gap: .2rem;
}

.tt-button-group-toggle-button.MuiToggleButton-root {
  border: none;
  border-radius: .25rem;
}