@use "../../../../stylings/color" as *;

.highlight-profile-highlights-fragment-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;

  .header-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    .switch {
      margin-left: auto;
      margin-right: 0rem;
    }
  }

  .header-add-button.MuiIconButton-root {
    margin-left: auto;
    border-color: transparent;
  }

  .tool-box {
    display: flex;
    align-items: center;
    margin-top: -0.5rem;
  }

  .MuiTabs-root {
    width: fit-content;
    margin-left: -0.2rem;
  }

  .TTTabs-tab.MuiTab-root {
    padding: 0.5rem;
    min-width: 50px;
  }

  .order-by-form-control.MuiFormControl-root {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: grey;
    gap: 0.5rem;
  }

  .highlight-select-button.MuiButton-root {
    text-transform: none !important;
    justify-content: flex-start !important;
    color: black;

    &.focus {
      background-color: var(--info-100);
    }

    p {
      text-align: start;
    }
  }
}

.nav-top-fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
