@use "../../../stylings/box_shadows" as *;
@use "../../../stylings/color" as *;

.trip-card-box {
  width: 240px;
  cursor: pointer;
  gap: .5rem;
}

.trip-card-image-box {
  width: 240px;
  height: 200px;
  border-radius: 1rem;
  background-color: var(--primary-main);
  box-shadow: $box-shadow;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.trip-card-image {
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.trip-card-image-creator-info-box {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
}

.trip-card-avatar {
  box-shadow: $mild-box-shadow;
  margin: .4rem;
}

.trip-card-username.MuiTypography-root {
  font-size: .7rem;
}

.trip-card-username-chip.MuiChip-root {
  border-radius: .5rem;
  background-color: $light-black-sx-transparent;
  box-shadow: $mild-box-shadow;
  color: white;
  margin-top: .5rem;
}

.trip-card-info-box {
  margin-top: .8rem;
}

.trip-card-title {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trip-card-error-menu-item {
  .MuiSvgIcon-root {
    fill: var(--error-main);
  };

  .MuiTypography-root {
    color: var(--error-main);
  }
}

.trip-card-num-days {
  font-size: .9rem;
  color: dimgrey;
}

.trip-card-chip-container {
  display: flex;
  margin: .25rem 0;
  gap: .5rem;
}

.trip-card-delete-chip.MuiChip-root {
  &:hover {
    color: var(--error-100);
    background-color: var(--error-main);

    .MuiChip-icon {
      color: var(--error-100);
    }
  }
}
