@use "../../../../stylings/box_shadows" as *;

$background-gradient: linear-gradient(to right, var(--info-900), var(--info-500));

.trip-profile-tao-comp-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.trip-profile-tao-comp-header-box {
  display: flex;
  align-items: center;
  height: auto;
  padding: 1rem;
  color: white;
  background-color: var(--grey-900);
}

.trip-profile-tao-comp-header.MuiTypography-root {
  font-size: 1.4rem;
}

.trip-profile-tao-comp-close-button.MuiIconButton-root {
  border-width: 0;
  margin-left: auto;
  color: white;
}

.trip-profile-tao-comp-content-box {
  display: flex;
  flex-direction: column;
  padding-top: .5rem;
  gap: .6rem;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.trip-profile-tao-comp-section,
.trip-profile-tao-comp-resource-section,
.trip-profile-tao-comp-wiki-image-box {
  padding: 1rem;
}

.trip-profile-tao-comp-title.MuiTypography-root {
  font-size: 1.2rem;
  font-weight: bold;
}

.trip-profile-tao-comp-title-span {
  display: inline;
  background: $background-gradient;
  background-clip: text;
  -webkit-background-clip: text;  /* Safari + Chrome */
  color: transparent;             /* hide normal text color */
  -webkit-text-fill-color: transparent;
}

.trip-profile-tao-comp-wiki-image-box {
  display: flex;
  position: relative;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 200px;
  height: 200px;
  margin-bottom: -.5rem;
  gap: 0.4rem;
}

.trip-profile-tao-comp-address.MuiTypography-root {
  font-size: .8rem;
}

.trip-profile-tao-comp-large-text.MuiTypography-root {
  display: inline;
  margin: .2rem;
  font-size: 1.2rem;
  font-weight: bold;
  background: $background-gradient;
  background-clip: text;
  -webkit-background-clip: text;  /* Safari + Chrome */
  color: transparent;             /* hide normal text color */
  -webkit-text-fill-color: transparent;
}

.trip-profile-tao-comp-highlight-helper-box {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.trip-profile-tao-comp-highlight-helper-text.MuiTypography-root {
  white-space: pre-wrap;
  text-align: center;
}

.trip-profile-tao-comp-highlight-button-box {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.trip-profile-tao-comp-highlight-button.MuiButton-root {
  border-radius: 2rem;
}

.trip-profile-tao-comp-selected-transport-mode.Mui-selected {
  background-color: var(--info-100) !important;
}

.trip-profile-tao-comp-transport-mode.MuiTypography-root {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.trip-profile-tao-comp-resource-section {
  margin-bottom: 1rem;
}

.trip-profile-tao-comp-link-box {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.trip-profile-tao-comp-wiki-image {
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: $box-shadow;
  flex-shrink: 0;
}
