@use "../../../../stylings/color" as *;

.trip-profile-day-overview-comp-day-overview-item {
  position: relative;
}

.trip-profile-day-overview-comp-header.MuiTypography-root {
  color: var(--primary-main);
  font-family: "lily script one";
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.trip-profile-day-overview-comp-day-box {
  display: flex;
  position: relative;
  height: 3rem;
  border-radius: 0.5rem;
  overflow: hidden;
  color: black;
  background-color: var(--utility-100);
  cursor: pointer;

  &:hover,
  &.focus {
    color: var(--primary-main);
    background-color: var(--utility-900);

    .trip-profile-day-overview-comp-day-header.MuiTypography-root,
    .trip-profile-day-overview-comp-day-arrow-button.MuiTypography-root {
      background-color: var(--utility-900);
    }
  }
}

.trip-profile-day-overview-comp-day-header.MuiTypography-root {
  width: 100%;
  height: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--utility-100);
  transform: translateX(40%);
  transition: transform 0.2s ease-in;

  &.focus {
    transform: translateX(20%);
    color: var(--primary-main);
  }
}

.trip-profile-day-overview-comp-day-arrow-button.MuiTypography-root {
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  right: -10px;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;

  background-color: var(--utility-100);
  transition:
    right 0.2s ease-in,
    opacity 0.2s ease-in;

  &.focus {
    color: var(--primary-main);
    right: 10px;
    opacity: 1;
  }
}
