@use "../../../stylings/box_shadows" as *;

.attraction-list-title.MuiTypography-root {
  font-size: 1.2rem;
}

.attraction-list-box {
  width: 320px;
}

.attraction-list-box-mobile {
  width: 80%;
}

.attraction-list-box,
.attraction-list-box-mobile {
  max-width: 320px;
  padding: 0.5rem;
  padding-right: 0;
  border-radius: 1rem;
  background-color: white;
  box-shadow: $mild_box_shadow;
}

.attraction-list-items-box {
  max-height: 60vh;
  overflow-y: auto;
}

.attraction-list-item-focus.MuiButton-root {
  background-color: var(--primary-100);
}

.attraction-list-item,
.attraction-list-item-focus {
  text-align: left;
  justify-content: flex-start;
}

.attraction-list-item-content {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.attraction-list-item-header {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.attraction-list-item-chip {
  margin-left: -.2rem;
  text-transform: capitalize;
}

.attraction-list-item-address.MuiTypography-root {
  font-size: 0.8rem;
  color: dimgrey;
}
