@use "../../../../stylings/color" as *;

.trip-profile-description-comp-header.MuiTypography-root {
  margin-bottom: .5rem;
}

.trip-profile-description-comp-edit-button-box {
  display: flex;
  justify-content: right;
  gap: .5rem;
  margin-top: .5rem;
}

.trip-profile-description-comp-button.MuiButton-root {
  margin-left: -.5rem;
  color: black;
  background-color: white;
  border-radius: .5rem;
  text-transform: none;
  text-align: left;
  padding-left: .75rem;

  &:hover {
    background-color: lightgrey;
  }
}

.trip-profile-description-comp-empty-button.MuiButton-root {
  display: flex;
  flex-direction: column;
  height: 100px;
  color :var(--grey-main);
  background-color: var(--grey-200);
  border-radius: 1rem;
  border: 1px solid $divider;
  text-transform: none;
}

.trip-profile-description-comp-skeleton.MuiSkeleton-root {
  transform: scale(1);
  width: 100%;
  height: 200px;
}
