@use "../../../../stylings/color" as *;

.trip-profile-description-comp {
  .header-container {
    display: flex;
    align-items: center;

    .zoom-button.MuiIconButton-root {
      margin-left: auto;

      &:hover {
        color: var(--primary-main);
      }
    }
  }

  .header.MuiTypography-root {
    color: var(--primary-main);
    font-family: lily script one;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .edit-button-box {
    display: flex;
    justify-content: right;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .edit-button.MuiButton-root {
    border-radius: 2rem;
  }

  .button.MuiButton-root {
    width: 100%;
    margin-left: -0.5rem;
    color: black;
    background-color: white;
    border-radius: 0.5rem;
    text-transform: none;
    text-align: left !important;
    justify-content: flex-start;
    padding-left: 0.75rem;

    &:hover {
      background-color: whitesmoke;
    }
  }

  .empty-button.MuiButton-root {
    display: flex;
    flex-direction: column;
    height: 100px;
    color: var(--utility-main);
    background-color: var(--utility-200);
    border-radius: 1rem;
    border: 1px solid $divider;
    text-transform: none;
  }

  .skeleton.MuiSkeleton-root {
    transform: scale(1);
    width: 100%;
    height: 200px;
  }
}
