@use "../../stylings/box_shadows" as *;
@use "../../stylings/layout" as *;

.main-page-container {
  margin: 0;
  padding: 0;
  margin-top: -4rem;

  .main-page-content-container {
    height: calc(100dvh - $header);
    width: 100vw;
    position: relative;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/traveltips-imagestore.firebasestorage.app/o/assets%2Falone.png?alt=media&token=a3196a61-62d5-4d57-a20a-7af80d901d7d");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-page-slogan-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    text-align: end;
    right: 4rem;
    top: 20rem;

    &.mobile {
      right: auto;
      top: auto;
      bottom: 13rem;
      text-align: initial;
      align-items: center;
    }
  }

  .main-page-logo {
    height: 60px;
    margin-bottom: 1rem;
    box-shadow: $box-shadow;
  }

  .main-page-slogan.MuiTypography-root,
  .main-page-slogan-highlight.MuiTypography-root {
    font-family: lily script one;
    color: var(--utility-100);
  }

  .main-page-slogan-highlight.MuiTypography-root {
    margin-bottom: 1rem;
    color: var(--primary-main);
  }
}
