@use "../../stylings/box_shadows" as *;
@use "../../stylings/color" as *;

.TTDialog {
  .MuiPaper-root {
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid $divider;
    box-shadow: $mild_box_shadow_lg;
  }
}

.TTDialog-box {
   padding: 1rem;
}
