@use "../../stylings/box_shadows" as *;
@use "../../stylings/color" as *;

.TTDialog {
  .MuiPaper-root {
    overflow: hidden;
    border-radius: 0.2rem;
    box-shadow: $mild_box_shadow_lg;
  }

  &.panel {
    .MuiPaper-root {
      border-radius: 1rem;
    }
  }
}

.TTDialog-box {
  padding: 1rem;
}
