@use "../../../stylings/box_shadows" as *;
@use "../../../stylings/layout" as *;

.library-dialog-box {
  width: 60vw;
  height: 80vh;
  display: flex;
  flex-direction: column;

  &.mobile {
    width: 80vw;
  }
}

.library-dialog-header-box {
  padding: 1rem;
  padding-bottom: 0.5rem;
  z-index: 1;
}

.library-dialog-primary-text.MuiTypography-root {
  font-size: 1.4rem;
}

.library-dialog-secondary-text.MuiTypography-root {
  font-size: 0.9rem;
  color: dimgrey;
}

.library-dialog-image-library {
  display: grid;
  grid-template-columns: $default-grid-template-columns;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 4rem;
  gap: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.library-dialog-image-container {
  aspect-ratio: $default-aspect-ratio;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: var(--utility-100);
  }

  &.focus {
    background-color: var(--primary-100);
  }
}

.library-dialog-image-box {
  border-radius: 1rem;
  aspect-ratio: $default-aspect-ratio;
  box-shadow: $mild_box_shadow;
  overflow: hidden;
}

.library-dialog-image {
  height: 100%;
  object-fit: cover;
}

.library-dialog-image-name.MuiTypography-root {
  font-size: 1.2rem;
  overflow-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

.library-dialog-image-guid.MuiTypography-root {
  font-size: 0.7rem;
  color: dimgrey;
}

.library-dialog-no-image-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.library-dialog-button-box {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.library-dialog-attach-button.MuiButton-root {
  border-radius: 20rem;

  &.Mui-disabled {
    background-color: var(--utility-400);
  }
}
