.trip-profile-name-comp {
  .input {
    margin-left: -0.5rem;

    .MuiOutlinedInput-input {
      font-size: 1rem;
      padding: 0.3rem;
    }
  }

  .title-button.MuiButton-root {
    color: black;
    background-color: transparent;
    border-radius: 0.5rem;
    text-align: left;
    margin-left: -0.5rem;
    margin-bottom: .2rem;
    padding: 0.5rem 0.5rem;

    &:hover {
      background-color: whitesmoke;
    }
  }

  .title-readonly.MuiTypography-root,
  .title.MuiTypography-root {
    text-transform: none;
    margin: -0.5rem 0;
    word-break: break-all; // allow long words to break
    overflow-wrap: break-word; // ensure breaking works across browsers
    hyphens: auto; // auto-insert hyphens if language supports
    font-size: 1.2rem;
  }

  .title-readonly.MuiTypography-root {
    margin: 0.1rem 0;
  }

  .tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
  }

  .num-days.MuiTypography-root {
    font-size: 0.8rem;
    color: dimgrey;
    margin-top: -0.2rem;
  }

  .setting-button.MuiChip-root {
    margin-left: auto;

    .MuiSvgIcon-root {
      transition: rotate 0.2s linear;
    }

    &:hover {
      .MuiSvgIcon-root {
        rotate: 45deg;
      }
    }
  }

  .title-skeleton.MuiSkeleton-root,
  .days-skeleton.MuiSkeleton-root {
    width: 240px;
  }

  .title-skeleton.MuiSkeleton-root {
    height: 40px;
  }

  .days-skeleton.MuiSkeleton-root {
    height: 16px;
  }
}
