@use "../../stylings/layout" as *;
@use "../../stylings/box_shadows" as *;

.home-page.MuiContainer-root {
  color: black;
  background-color: var(--secondary-main);
  padding: 1rem 0;
  height: $screen-height;
  overflow-y: auto;
  scroll-behavior: smooth;

  .search-box {
    width: 40vw;
    min-width: 300px;
    margin: 0 auto;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    z-index: 100;

    .search-content-box {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    .search-input .MuiOutlinedInput-root {
      background-color: white;
      border-radius: 10rem;
      box-shadow: $mild-box-shadow;

      input {
        font-size: 1.4rem;
      }

      fieldset {
        border-color: transparent;
      }
    }

    .search-button-box {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.2rem;
      background-color: black;
      border-radius: 10rem;
      box-shadow: $box-shadow;

      .MuiSvgIcon-root {
        fill: var(--utility-300);
        width: 1.8rem;
        height: 1.8rem;
      }

      &:hover {
        background-color: var(--utility-900);
        .MuiSvgIcon-root {
          fill: white;
        }
      }
    }

    .search-filter-box {
      display: flex;
      justify-content: center;
    }
  }

  .content-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 4rem;

    &.mobile {
      margin: 2rem 2rem;
    }
  }
}
