:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #f2efea;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --utility-main: #424242; // 700 not 500
  --utility-50: #f5f5f5;
  --utility-100: #eeeeee;
  --utility-200: #e0e0e0;
  --utility-300: #bdbdbd;
  --utility-400: #9e9e9e;
  --utility-500: #757575;
  --utility-600: #616161;
  --utility-700: #424242;
  --utility-800: #212121;
  --utility-900: #101010;

  --primary-main: #e4572e;
  --primary-100: #faded5;
  --primary-200: #f4bdac;
  --primary-300: #ef9c82;
  --primary-400: #e97b59;
  --primary-500: #e4572e;
  --primary-600: #c34119;
  --primary-700: #923113;
  --primary-800: #61200d;
  --primary-900: #311006;

  --secondary-main: #f2efea;
  --secondary-100: #fcfcfb;
  --secondary-200: #faf8f6;
  --secondary-300: #f7f5f2;
  --secondary-400: #f4f2ed;
  --secondary-500: #f2efea;
  --secondary-600: #cdc2ae;
  --secondary-700: #a99673;
  --secondary-800: #766548;
  --secondary-900: #3b3224;

  --info-main: #2196f3;
  --info-50: #e3f2fd;
  --info-100: #bbdefb;
  --info-200: #90caf9;
  --info-300: #64b5f6;
  --info-400: #42a5f5;
  --info-500: #2196f3;
  --info-600: #1e88e5;
  --info-700: #1976d2;
  --info-800: #1565c0;
  --info-900: #0d47a1;

  --success-main: #4caf50;
  --success-50: #e8f5e9;
  --success-100: #c8e6c9;
  --success-200: #a5d6a7;
  --success-300: #81c784;
  --success-400: #66bb6a;
  --success-500: #4caf50;
  --success-600: #43a047;
  --success-700: #388e3c;
  --success-800: #2e7d32;
  --success-900: #1b5e20;

  --warning-main: #ed6c02;
  --warning-50: #fff3e0;
  --warning-100: #ffe0b2;
  --warning-200: #ffcc80;
  --warning-300: #ffb74d;
  --warning-400: #ffa726;
  --warning-500: #ff9800;
  --warning-600: #fb8c00;
  --warning-700: #f57c00;
  --warning-800: #ef6c00;
  --warning-900: #e65100;

  --error-main: #f44336;
  --error-50: #ffebee;
  --error-100: #ffcdd2;
  --error-200: #ef9a9a;
  --error-300: #e57373;
  --error-400: #ef5350;
  --error-500: #f44336;
  --error-600: #e53935;
  --error-700: #d32f2f;
  --error-800: #c62828;
  --error-900: #b71c1c;

  --region-main: #880088;
  --region-50: #f3e6f3;
  --region-100: #e7cce7;
  --region-200: #cf99cf;
  --region-300: #b866b8;
  --region-400: #a033a0;
  --region-500: #880088;
  --region-600: #6d006d;
  --region-700: #520052;
  --region-800: #360036;
  --region-900: #1b001b;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  height: 100dvh;

  // overflow-y: auto;
  overflow-x: hidden;
}

// custom styled typography - TODO

span.helper {
  font-size: 1rem;
  margin: 0 0.2rem;
  color: var(--utility-400);
}

.too-long.MuiTypography-root {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.theme-typography {
  &.MuiTypography-root {
    &.MuiTypography-h6 {
      font-size: 1.4rem;
    }
    &.MuiTypography-subtitle1 {
      font-size: 1.25rem;
    }
    &.MuiTypography-caption {
      font-size: 0.8rem;
      color: var(--utility-700);
    }
  }
}

// custom text styling

@keyframes slay-shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-0.5px, 0.5px) rotate(-0.2deg);
  }
  50% {
    transform: translate(0.5px, -0.5px) rotate(0.2deg);
  }
  75% {
    transform: translate(-0.5px, -0.5px) rotate(-0.2deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.sts-shaky-char {
  display: inline-block;
  animation: slay-shake 0.2s infinite;
  /* Stagger the start of each letter's shake */
  animation-delay: calc(var(--char-index) * 0.03s);
}

// custom box

.primary {
  color: var(--primary-main);
}

.info {
  color: var(--info-main);
}

.primary-bg {
  background-color: var(--primary-main);
}

.info-bg,
.pending-bg {
  background-color: var(--info-main);
}

.success-bg,
.active-bg {
  background-color: var(--success-main);
}

.warning-bg,
.request.change-bg {
  background-color: var(--warning-main);
}

.error-bg,
.denied-bg {
  background-color: var(--error-main);
}

.inactive-bg {
  background-color: var(--utility-main);
}

.status-box {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.MuiTypography-root.auto-wrap {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  white-space: normal;
  word-break: break-word;
}

.column,
.row {
  &.primary {
    color: var(--primary-main);
    .MuiSvgIcon-root {
      fill: var(--primary-main);
    }
  }

  &.no-gap {
    gap: 0;
  }

  &.gap {
    gap: 0.5rem;
  }

  &.gap-large {
    gap: 1rem;
  }

  &.full {
    width: 100%;
  }

  &.fit {
    width: fit-content;
  }

  &.section {
    margin: 1rem 0;
  }
}

.column {
  display: flex;
  flex-direction: column;

  &.start {
    align-items: start;
  }

  &.center {
    align-items: center;
  }

  &.end {
    align-items: end;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &.center {
    justify-content: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.right {
    margin-left: auto;
  }

  &.start {
    align-items: start;
  }

  &.end {
    align-items: end;
  }

  &.stretch {
    align-items: stretch;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.user-id-box {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: -0.4rem;
  padding: 0.1rem 0.4rem;
  border-radius: 1rem;
  cursor: pointer;
  gap: 0.2rem;

  .MuiSvgIcon-root {
    width: 0.8rem;
    height: 0.8rem;
  }

  &.hovered,
  &:hover {
    background-color: var(--utility-200);
  }

  &.dark {
    color: var(--utility-100);

    &.hovered,
    &:hover {
      background-color: var(--utility-700);
    }
  }
}

.notification-box {
  width: 1fr;
  padding: 1rem;
  background-color: var(--info-50);
  border: 1px var(--info-200) solid;
  border-radius: 0.5rem;
}

/// custom styled selected menu item

// general menu item styling
.MuiMenuItem-root {
  text-decoration: none;
  text-transform: capitalize;

  $theme: var(--utility-800);

  .MuiListItemText-root .MuiTypography-root {
    color: $theme;
  }
  .MuiSvgIcon-root {
    fill: $theme;
  }

  &.Mui-selected {
    &.region {
      background-color: var(--region-100);
    }
  }
}

// special menu item styling
.TT-menu {
  .MuiPaper-root {
    width: 200px;
    background-color: var(--utility-900);

    .MuiTypography-root {
      text-decoration: none;
    }

    .MuiMenuItem-root {
      $theme: white;
      color: $theme;
      text-decoration: none;
      text-transform: capitalize;

      .MuiListItemText-root .MuiTypography-root {
        color: $theme;
      }
      .MuiSvgIcon-root {
        fill: $theme;
      }

      &:hover {
        background-color: var(--utility-800);
      }

      // customized menu item themes
      &.error {
        $theme: var(--error-500);

        .MuiListItemText-root .MuiTypography-root {
          color: $theme;
        }
        .MuiSvgIcon-root {
          fill: $theme;
        }
      }
    }
  }

  &.flex .MuiPaper-root {
    width: auto;

    .MuiTypography-root {
      text-transform: capitalize;
    }
  }
}

a {
  color: var(--info-main);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--utility-500) transparent;
  scroll-behavior: smooth;
}

/* For Firefox */
.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &:hover {
    scrollbar-color: var(--utility-500) transparent;
  }
}

.no-scrollbar {
  /* For Firefox */
  scrollbar-width: none;

  /* For Internet Explorer and older Edge */
  -ms-overflow-style: none;
}

/* For Chrome, Safari, and newer Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
