.user-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;

  &.mobile {
    flex-direction: column;
    align-items: flex-start;
  }

  .section {
    display: flex;
    flex-direction: column;
  }

  .username.MuiTypography-root {
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: var(--primary-main);
    }
  }
}
