@use "../../../stylings/layout" as *;
@use "../../../stylings/color" as *;
@use "../../../stylings/box_shadows" as *;

.gospel-content-container {
  width: 100%;
  height: $screen-height;
  overflow-x: auto;
  overflow-y: auto;
  padding: 2rem;
  flex: 1;

  &.mobile {
    padding: 0;
  }

  .back-text.MuiTypography-root {
    width: fit-content;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }

  .header-box {
    margin: 1rem 0;

    .tool-box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 1rem;
      padding: 0 0.5rem;
      gap: 1rem;
    }
  }

  .category.MuiTypography-root {
    background: $info-gradient-right;
    box-shadow: $box-shadow;
    color: white;
    margin-right: 4rem;
    padding: 2rem;

    &.mobile {
      margin-right: 1rem;
      font-size: 2rem;
    }
  }

  .topic.MuiTypography-root {
    background: var(--utility-800);
    box-shadow: $box-shadow;
    color: white;
    padding: 0.8rem;
    padding-left: 2rem;
    margin: -1rem 0 0 4rem;
    z-index: 0;

    &.mobile {
      margin-left: 1rem;
      font-size: 1.2rem;
    }
  }

  .channel-box-link {
    text-decoration: none;
    color: inherit;
  }

  .channel-box {
    min-width: 300px;
    width: fit-content;
    margin: 1rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    transition: 0.2s ease-in-out background-color;
    cursor: pointer;

    &:hover {
      background-color: var(--info-100);
    }
  }

  .videos-box {
    width: 100%;
    padding: 0 1rem;
    padding-bottom: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .video-card {
    $padding: .5rem;
    width: calc(240px + 2 * $padding);
    flex-shrink: 0;
    padding: $padding;
    border-radius: 1rem;
    background-color: transparent;
    transition: 0.2s ease-in-out background-color;
    cursor: pointer;

    &:hover {
      background-color: var(--info-100);
    }
  }

  .video-box {
    width: 240px;
    height: 180px;
    overflow: hidden;
    flex-shrink: 0;
  }

  .video-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    flex-shrink: 0;
  }

  .writing-markdown-box {
    font-family: sora;
    margin: 1rem;
  }

  .MuiMenuItem-root {
    border-bottom: 1px $divider solid;
  }

  .Writing-box {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .no-Writing-box {
    margin-top: 1rem;
    text-align: center;
  }

  .more-option-button {
    margin-left: auto;
  }
}
