.image-selector-file-select-button {
  background-color: transparent;
  padding: 0;
  min-width: 0;
}

.image-selector-list-item-icon.MuiListItemIcon-root {
  margin-right: -1rem;
  color: var(--grey-800);
}

.image-selector-list-item-error-icon.MuiListItemIcon-root {
  margin-right: -1rem;
  color: var(--error-main);
}

.image-selector-cropper-file-input {
  display: none;
}
