@use "../../stylings/color" as *;
@use "../../stylings/box_shadows" as *;

.TTChipButton.MuiChip-root {
  cursor: pointer;
  background-color: var(--grey-300);
  box-shadow: $mild_box_shadow;
  filter: brightness(1.05);

  &.hovered,
  &:hover {
    color: white;

    &.info {
      background: $info-gradient-right;
    }
    &.error {
      background: $error-gradient-right;
    }
    &.success {
      background: $success-gradient-right;
    }

    &.utility {
      background: black;
    }

    &.tripadvisor {
      background: darkgreen;
    }

    &.yelp {
      background: darkred;
    }

    .MuiChip-icon {
      color: white;  
    }
  }
}