.TTChipButton.MuiChip-root {
  cursor: pointer;
  background-color: lightgrey;
  filter: brightness(1.05);

  &:hover {
    color: white;
    background: linear-gradient(to right, var(--info-900), var(--info-500));

    .MuiChip-icon {
      color: white;  
    }
  }
}